API_MODE=PROD
API_PORT=8000
SSE_EVENT_SET=set

GENERATOR_BASE_URL=http://backend-vn1:8010

AUTH_ENABLED=true
AUTH_ISSUER_URL=http://keycloak:8080/keycloak/realms/vn1
AUTH_JWKS_URL=http://keycloak:8080/keycloak/realms/vn1/protocol/openid-connect/certs
AUTH_TOKEN_URL=http://keycloak:8080/keycloak/realms/vn1/protocol/openid-connect/token
AUTH_CLIENT_ID=vn1-api
AUTH_CLIENT_SECRET=
AUTH_AUDIENCE=
AUTH_COOKIE_SECURE=false
