.brand {
  img {
    display: block;
    width: 154px;
    height: auto;
  }

  strong {
    display: block;
    padding-top: 1px;
    color: var(--app-color-text-tertiary);
    font-size: 12px;
    font-weight: 800;
  }
}
