.git
.idea
.venv
.env
.env.*
!frontend/.env.example

**/node_modules
**/dist
**/__pycache__
**/*.pyc
**/.DS_Store

auth
docs
frontend
generator/*
!generator/pyproject.toml
!generator/uv.lock
!generator/src
!generator/src/**
!generator/Dockerfile
skills/*
!skills/gitlab-skill
!skills/gitlab-skill/**
!skills/orchestrator-skill
!skills/orchestrator-skill/**
shared/*
!shared/python
!shared/python/**
