.git
.idea
.venv
.env
.env.*
!frontend/.env.example

**/node_modules
**/dist
**/__pycache__
**/*.pyc
**/.DS_Store

auth
docs
frontend
generator
skills/*
!skills/gitlab-skill
!skills/gitlab-skill/**
shared/*
!shared/python
!shared/python/**
