@content-max-width: 1400px;
@layout-inline-gutter: 36px;
@layout-inline-gutter-mobile: 20px;

@space-0: 0;
@space-4: 4px;
@space-6: 6px;
@space-8: 8px;
@space-10: 10px;
@space-12: 12px;
@space-14: 14px;
@space-16: 16px;
@space-18: 18px;
@space-20: 20px;
@space-22: 22px;
@space-24: 24px;
@space-28: 28px;
@space-32: 32px;

@space-mobile-10: 8px;
@space-mobile-12: 10px;
@space-mobile-14: 12px;
@space-mobile-16: 12px;
@space-mobile-18: 14px;
@space-mobile-20: 16px;
@space-mobile-22: 16px;
@space-mobile-24: 16px;
@space-mobile-28: 18px;
@space-mobile-32: 20px;
