@import "../../../../shared/ui/styles/spacing.less";

.Page {
  display: flex;
  flex-direction: column;
  gap: @space-18;
  min-height: calc(100vh - 114px);
  width: 100%;
}

.content {
  width: calc(100% - @layout-inline-gutter);
  max-width: @page-width-default;
  margin: 0 auto;
}

.narrow {
  max-width: @page-width-narrow;
}

.default {
  max-width: @page-width-default;
}

.wide {
  max-width: @page-width-wide;
}

.full {
  width: 100%;
  max-width: none;
}

.trigger {
  width: 100%;
  height: 1px;
}

@media (max-width: 760px) {
  .content {
    width: calc(100% - @layout-inline-gutter-mobile);
  }

  .full {
    width: 100%;
  }
}
