.Flex {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.max {
  width: 100%;
}

.gap4 {
  gap: var(--app-space-4);
}

.gap6 {
  gap: var(--app-space-6);
}

.gap8 {
  gap: var(--app-space-8);
}

.gap10 {
  gap: var(--app-space-10);
}

.gap12 {
  gap: var(--app-space-12);
}

.gap14 {
  gap: var(--app-space-14);
}

.gap16 {
  gap: var(--app-space-16);
}

.gap18 {
  gap: var(--app-space-18);
}

.gap20 {
  gap: var(--app-space-20);
}

.gap22 {
  gap: var(--app-space-22);
}

.gap24 {
  gap: var(--app-space-24);
}

.gap28 {
  gap: var(--app-space-28);
}

.gap32 {
  gap: var(--app-space-32);
}
